/*-- variables --*/
:root {
  /*-- paleta de colores --*/
  --color-black: black;
  --color-black1: rgb(19, 19, 19);
  --color-grey1: rgb(83, 82, 82);
  --color-white: rgb(254, 254, 254);
  --color-grey2: rgb(125, 125, 125);
  --color-cyan: rgb(22, 237, 245);
  --color-blackwhi: rgb(59, 57, 57);
  --color-green: rgb(27, 190, 76);
  --color-fonder: rgba(255, 255, 255, 0.2);
  --color-fond-02: rgba(0, 0, 0, 0.2);
  --color-fond-03: rgba(0, 0, 0, 0.3);
  --color-fond-07: rgba(0, 0, 0, 0.7);
  --color-barra-experience: rgb(207, 96, 201);
  --color-pointer-experience: rgb(218, 54, 209);
  --gradiant: linear-gradient(90deg, rgb(5, 217, 51), rgb(24, 227, 237));
  --gradianttwo: linear-gradient(90deg, rgb(40, 135, 169), rgb(251, 5, 251));
  --gradiantthree: linear-gradient(90deg, rgb(223, 87, 87), rgb(241, 158, 63));

  /*-- font --*/

  --font-small: 0.75rem;
  --font-normal: 1rem;
  --font-median: 1.25rem;
  --font-big: 2rem;
  --font-bigg: 3rem;
  --font-name: 6rem;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-black1);
}
html {
  scroll-behavior: smooth;
}
/*-- barra de navegacion --*/

.barra-navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: var(--gradianttwo);
  color: var(--color-white);
  position: fixed;
  z-index: 1000;
}

.bar {
  color: var(--color-white);
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-left: 20px;
  padding: 15px;
}

.linetitle:hover {
  transition: 2s;
  background-color: var(--color-fond-02);
}

.linetitle:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--color-cyan);
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.linetitle:hover:after {
  transform-origin: center;
  transform: scaleX(1);
}

/* --       -- */

/*-- imagen --*/
.container-imgg {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.container-imgg img {
  width: 40vh;
}

/*-- titulo animado -- */

.title {
  color: var(--color-white);
}

h1 {
  font-size: var(--font-name);
  display: grid;
  font-weight: 800;
  padding: 5px 5px;
  text-align: center;
}

.spann {
  display: block;
  line-height: 1;
  padding: 0;
  position: relative;
}

.spann::before {
  background: var(--gradiant);
  content: var(--content);
  position: absolute;
  inset: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animed 3s infinite;
}

@keyframes animed {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}
/* --               -- */

h2 {
  text-align: center;
}

/*-- fondo --*/
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

/*-- Redes sociales --*/

.container-social {
  position: absolute;
  left: 25px;
  top: 20%;
  font-size: var(--font-bigg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;
}

.container-social .fa-brands {
  color: var(--color-white);
  text-decoration: none;
}

/* --   -- */
.secction {
  height: 100vh;
  width: 100%;
  padding-top: 100px;
}

.title-section {
  font-size: var(--font-median);
  color: var(--color-white);
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

/*-- About me --*/
.title-about {
  display: block;
  margin: 20px;
  font-size: var(--font-big);
}

.container-about {
  padding-top: 100px;
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.description-me {
  width: 30%;
  padding: 30px;
  font-size: var(--font-normal);
  color: var(--color-white);
}

/* --            -- */

/*-- Experiencia --*/
.title-ecperience {
  color: var(--color-white);
  font-size: var(--font-normal);
  padding: 10px;
  text-align: center;
  background: var(--color-fonder);
  border: solid 1px black;
  border-radius: 50px;
}
.conten-experience {
  margin: 20px;
  background: var(--color-fonder);
  width: 50%;
  border-radius: 25px;
}

.conainer__complet {
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
}

.container-p-img {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.parraf-experience {
  color: var(--color-white);
  font-size: var(--font-small);
  display: grid;
}

.container-p-img img {
  width: 100px;
  height: auto;
}

/*-- Skill --*/

.image-skill {
  width: 80px;
}

.container-img img {
  margin: 10px;
}

.conten-experience {
  grid-column: 2;
}

/*--    --*/

/*-- Briefcase --*/
.container-briefcase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 300px;
}
.container-briefcase {
  height: 80%;
}

.briefcase--contet {
  position: relative;
  height: auto;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px var(--color-fond-03);
  background-size: cover;
}

.conteiner-element {
  color: var(--color-white);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-fond-07);
  transition: all 1s;
  opacity: 0;
  text-align: center;
  transition: 0.5s;
}

.briefcase--contet:hover .conteiner-element {
  opacity: 1;
  visibility: visible;
}

.title-briecase {
  font-size: var(--font-normal);
  transition: all 5s;
  margin-top: 30px;
}

.paragraph-descript {
  font-size: var(--font-small);
  margin: 20px;
}
.link-git {
  color: var(--color-white);
  text-decoration: none;
  background: var(--gradianttwo);
  font-size: var(--font-small);
  padding: 5px;
  border-radius: 50px;
}
.image-briefcase {
  padding: 10px;
  width: 350px;
  height: auto;
  transition: all 1s;
  will-change: transform;
}
.image-briefcase:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1);
  transition: 2s;
}
.image-briefcase {
  overflow: hidden;
}

/*-- contac --*/

.seccion__contenido {
  height: 100vh;
  background: var(--color-fonder);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 750px;
}

.form-control {
  width: 100%;
  padding: 15px;
  font-size: var(--font-normal);
  background-color: var(--color-white);
  border: 1px solid transparent;
  border-radius: 8px;
  resize: none;
}

.form-control::placeholder {
  color: var(--color-black);
}

.btn-form {
  margin: 10px;
  padding: 15px;
  background: var(--gradiantthree);
  border: 1px solid transparent;
  border-radius: 8px;
  color: var(--color-white);
  cursor: pointer;
}

.btn-form:hover {
  background: var(--color-fond-02);
}

.seccion__titulo {
  margin-top: 100px;
  padding: 20px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color-white);
}

@media (max-width: 1010px) {
  .image-about {
    display: none;
  }
  .description-me {
    display: flex;

    width: auto;
  }
  .timeline {
    display: grid;
    grid-template-columns: 3px 1fr;
    color: var(--color-white);
  }
  .timeline__middle {
    display: none;
  }
  .timeline__component--bg {
    grid-column: 2;
  }
  .timeline__date {
    display: none;
  }

  /* barra de menu */
  .container-bars_menu {
    position: fixed;
    background: var(--gradianttwo);
    width: 100%;
    z-index: 10000;
  }
  .bars__menu {
    padding: 20px;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    cursor: pointer;
  }

  .bars__menu span {
    display: block;
    width: 100%;
    height: 5px;
    height: 3px;
    background: var(--color-white);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
  }

  .activeline1__bars-menu {
    transform: rotate(45deg) translate(-1px, 2px);
  }

  .activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }

  .activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
  }

  .navigation {
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 1000;
    transition: all 300ms;
  }
  .barra-navigation {
    flex-direction: column;
    left: 100%;
    justify-content: center;
  }

  .lef_navigation {
    left: 0;
  }
  .seccion__titulo {
    display: none;
  }
}

@media (max-width: 850px) {
  .form-group {
    width: auto;
  }
}
